{% extends 'partials/base.html' %}
{% load crispy_forms_tags %}

{% block content %}
    {# This script is for getting all the vars I need to be able to live update available hours.#}
    <script>
        const dates = []
        let taken_date_hour = {}
        {% for appointment in appointments %}
            dates.push({
                "date": "{{ appointment.appointment_date|date:"Y-m-d" }}",
                "hour": "{{ appointment.appointment_hour }}",
                "slot": ({{ appointment.hour_slot }})
            })
        {% endfor %}
        let business_hours = [];
        {% for hour in business_hours %}
            business_hours.push('{{ hour }}')
        {% endfor %}

        window.onload = function () {
            showhours()
        }
    </script>

    <button class="button-29 red back" onclick="window.location.href='{{ request.META.HTTP_REFERER }}'">
        BACK
    </button>

    <h1>Appointment for {{ pet.name }}</h1>
    <form method="POST">
        {% csrf_token %}
        {{ form|crispy }}
        <button type="submit" class="btn btn-primary col-md-4">Make Appointment</button>
    </form>

{% endblock %}